.container {
  max-width: 1208px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
}
header nav {
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
header .header-menu {
  padding: 24px 0;
  display: flex;
  gap: 40px;
}
header .header-menu .header-left {
  display: flex;
  gap: 40px;
  align-items: center;
}
header .header-menu .header-left .header-button {
  display: flex;
  gap: 12px;
}
header .header-menu .header-left .header-button .header-left-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 4px;
  border: none;
  background: var(--main-secondary, #70C05B);
}
header .header-menu .header-left .header-button .header-left-btn a {
  color: var(--main-on-secondary, #FFF);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
header .header-menu .header-left .header-button .header-search {
  width: 360px;
  position: relative;
}
header .header-menu .header-left .header-button .header-search input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  background: var(--main-surface, #FFF);
}
header .header-menu .header-left .header-button .header-search img {
  position: absolute;
  right: 10px;
  top: 8px;
}
header .header-menu .header-right {
  display: flex;
  gap: 24px;
  align-items: center;
}
header .header-menu .header-right-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
header .header-menu .header-right-1 img {
  width: 24px;
  height: 24px;
}
header .header-menu .header-right-1 a {
  color: var(--main-on-surface, #414141);
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
header .header-menu .header-right-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header-menu .header-right-2 a {
  color: var(--on-surface, #232323);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
header .header-menu .header-right-2 button {
  background: none;
  border: none;
}
@media (max-width: 1150px) {
  header .header-menu {
    display: none;
  }
}

.header-res-menu {
  display: none;
  width: 100%;
  padding: 24px 0;
}
@media (max-width: 1150px) {
  .header-res-menu {
    display: flex;
    justify-content: space-between;
  }
}
.header-res-menu button {
  background: var(--main-primary, #F63);
  padding: 8px 10px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

main {
  padding-top: 99px;
  background: var(--main-bg-page, #FBF8EC);
}

.menu {
  background-image: url(../images/menu-bg.svg);
}
.menu-container {
  display: flex;
  align-items: center;
  gap: 18px;
}
.menu-container h1 {
  color: var(--main-on-surface, #414141);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 850px) {
  .menu-container img {
    display: none;
  }
  .menu-container h1 {
    padding: 20px 0;
  }
}

.free-products {
  margin-top: 80px;
}
.free-products-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.free-products-container .free-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .free-products-container .free-text {
    flex-direction: column;
  }
}
.free-products-container .free-text h3 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.free-products-container .free-text a {
  text-decoration: none;
  color: #232323;
}
.free-products-container .free-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.free-products-container .free-cards > div {
  display: flex;
  justify-content: center;
}
@media (max-width: 1270px) {
  .free-products-container .free-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .free-products-container .free-cards {
    grid-template-columns: 1fr;
    align-items: start;
    row-gap: 10px;
  }
}

.free-card-1 {
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 272px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.free-card-1 .free-card-1-img {
  transition: 1s;
  height: 160px;
}
.free-card-1 .free-card-1-img img {
  width: 100%;
}
.free-card-1:hover .free-card-1-img {
  padding: 10px;
  transition: 1s;
}
.free-card-1:hover .free-card-1-img img {
  width: 100%;
}

.free-card-1-text {
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.free-card-1-text .free-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.free-card-1-text .free-card-price h4 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.free-card-1-text .free-card-price h5 {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.free-card-1-text .free-card-price p {
  color: var(--grayscale-light, #BFBFBF);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.free-card-1-text > p {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.free-card-1-text button {
  display: flex;
  color: #70C05B;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: none;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  transition: 1s;
}
.free-card-1-text button:hover {
  background: #F63;
  color: #FFF;
  border: none;
}

.new-products {
  margin-top: 80px;
}
.new-products-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.new-products-container .new-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .new-products-container .new-text {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}
.new-products-container .new-text h3 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.new-products-container .new-text a {
  text-decoration: none;
  color: #232323;
}
.new-products-container .new-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.new-products-container .new-cards > div {
  display: flex;
  justify-content: center;
}
@media (max-width: 1270px) {
  .new-products-container .new-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .new-products-container .new-cards {
    grid-template-columns: 1fr;
  }
}
.new-products-container .new-cards .new-card-1 {
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 272px;
  margin-bottom: 10px;
}
.new-products-container .new-cards .new-card-1 .new-card-1-img {
  transition: 1s;
  height: 160px;
}
.new-products-container .new-cards .new-card-1 .new-card-1-img img {
  width: 100%;
}
.new-products-container .new-cards .new-card-1:hover .new-card-1-img {
  padding: 10px;
  transition: 1s;
}
.new-products-container .new-cards .new-card-1:hover .new-card-1-img img {
  width: 100%;
}
.new-products-container .new-cards .new-card-1 .new-card-1-text {
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.new-products-container .new-cards .new-card-1 .new-card-1-text .new-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-products-container .new-cards .new-card-1 .new-card-1-text .new-card-price h4 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.new-products-container .new-cards .new-card-1 .new-card-1-text .new-card-price h5 {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.new-products-container .new-cards .new-card-1 .new-card-1-text .new-card-price p {
  color: var(--grayscale-light, #BFBFBF);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.new-products-container .new-cards .new-card-1 .new-card-1-text > p {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.new-products-container .new-cards .new-card-1 .new-card-1-text button {
  display: flex;
  color: #70C05B;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: none;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  transition: 1s;
}
.new-products-container .new-cards .new-card-1 .new-card-1-text button:hover {
  background: #F63;
  color: #FFF;
  border: none;
}

.old-products {
  margin-top: 80px;
}
.old-products-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.old-products-container .old-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .old-products-container .old-text {
    flex-direction: column;
  }
}
.old-products-container .old-text h3 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.old-products-container .old-text a {
  text-decoration: none;
  color: #232323;
}
.old-products-container .old-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.old-products-container .old-cards > div {
  display: flex;
  justify-content: center;
}
@media (max-width: 1270px) {
  .old-products-container .old-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .old-products-container .old-cards {
    grid-template-columns: 1fr;
    align-items: start;
    row-gap: 10px;
  }
}
.old-products-container .old-cards .old-card-1 {
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 272px;
}
.old-products-container .old-cards .old-card-1 .old-card-1-img {
  transition: 1s;
  height: 160px;
}
.old-products-container .old-cards .old-card-1 .old-card-1-img img {
  width: 100%;
}
.old-products-container .old-cards .old-card-1:hover .old-card-1-img {
  padding: 10px;
  transition: 1s;
}
.old-products-container .old-cards .old-card-1:hover .old-card-1-img img {
  width: 100%;
}
.old-products-container .old-cards .old-card-1 .old-card-1-text {
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.old-products-container .old-cards .old-card-1 .old-card-1-text .old-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.old-products-container .old-cards .old-card-1 .old-card-1-text .old-card-price h4 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.old-products-container .old-cards .old-card-1 .old-card-1-text .old-card-price h5 {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.old-products-container .old-cards .old-card-1 .old-card-1-text .old-card-price p {
  color: var(--grayscale-light, #BFBFBF);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.old-products-container .old-cards .old-card-1 .old-card-1-text > p {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.old-products-container .old-cards .old-card-1 .old-card-1-text button {
  display: flex;
  color: #70C05B;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: none;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  transition: 1s;
}
.old-products-container .old-cards .old-card-1 .old-card-1-text button:hover {
  background: #F63;
  color: #FFF;
  border: none;
}

.special {
  margin-top: 120px;
}
.special .special-container .special-text {
  margin-bottom: 40px;
}
.special .special-container .special-text h3 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.special .special-container .special-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media (max-width: 1100px) {
  .special .special-container .special-content {
    grid-template-columns: 1fr;
  }
}
.special .special-container .special-content > div {
  display: flex;
  justify-content: center;
}
.special .special-container .special-content .special-left-card {
  width: 100%;
  padding: 8px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: var(--main-primary-muted, #FCD5BA);
}
@media (max-width: 600px) {
  .special .special-container .special-content .special-left-card img {
    display: none;
  }
}
.special .special-container .special-content .special-left-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
.special .special-container .special-content .special-left-card > div {
  display: flex;
  flex-direction: column;
}
.special .special-container .special-content .special-left-card > div h4 {
  color: var(--main-on-surface, #414141);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.special .special-container .special-content .special-left-card > div p {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.special .special-container .special-content .special-right-card {
  width: 100%;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background: var(--main-secondary-muted, #E5FFDE);
}
@media (max-width: 600px) {
  .special .special-container .special-content .special-right-card img {
    display: none;
  }
}
.special .special-container .special-content .special-right-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
.special .special-container .special-content .special-right-card > div {
  display: flex;
  flex-direction: column;
}
.special .special-container .special-content .special-right-card > div h4 {
  color: var(--main-on-surface, #414141);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.special .special-container .special-content .special-right-card > div p {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.location {
  margin-top: 120px;
}
.location-container .location-text {
  margin-bottom: 40px;
}
.location-container .location-text h3 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.location-container .location-img img {
  width: 100%;
}

.stats {
  margin-top: 120px;
  padding-bottom: 120px;
}
.stats .stats-container .stats-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.stats .stats-container .stats-text h3 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.stats .stats-container .stats-text a {
  text-decoration: none;
  color: #232323;
}
.stats .stats-container .stat-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media (max-width: 850px) {
  .stats .stats-container .stat-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .stats .stats-container .stat-cards {
    grid-template-columns: 1fr;
  }
}
.stats .stats-container .stat-cards > div {
  display: flex;
  justify-content: center;
}
.stats .stats-container .stat-cards > div .sats-card-1 {
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  border-radius: 4px;
}
.stats .stats-container .stat-cards > div .sats-card-1:hover {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stats .stats-container .stat-cards > div .sats-card-1 img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.stats .stats-container .stat-cards > div .sats-card-1 .sats-card-1-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.stats .stats-container .stat-cards > div .sats-card-1 .sats-card-1-text h5 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.stats .stats-container .stat-cards > div .sats-card-1 .sats-card-1-text p {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.stats .stats-container .stat-cards > div .sats-card-1 .sats-card-1-text button {
  display: flex;
  width: 150px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--main-secondary-muted, #E5FFDE);
  color: #70C05B;
  border-color: #70C05B;
  transition: 1s;
}
.stats .stats-container .stat-cards > div .sats-card-1 .sats-card-1-text button:hover {
  border-radius: 4px;
  background: var(--main-secondary, #70C05B);
  color: white;
}

footer {
  padding: 20px;
  background-color: #FCD5BA;
  padding-bottom: 60px;
  background-image: url(../images/footer-bg.svg);
}
footer .footer-container .footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 950px) {
  footer .footer-container .footer-menu {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
@media (max-width: 800px) {
  footer .footer-container .footer-menu {
    display: grid;
    grid-template-columns: 1fr;
  }
}
footer .footer-container .footer-menu .footer-links {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 10px;
}
@media (max-width: 750px) {
  footer .footer-container .footer-menu .footer-links {
    display: block;
  }
}
footer .footer-container .footer-menu .footer-links a {
  text-decoration: none;
  color: #232323;
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  margin-right: 10px;
}
footer .footer-container .footer-menu .socials-logos {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}
footer .footer-container .footer-menu .phone-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-fixed {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  background-color: white;
  display: none;
  bottom: 0;
  z-index: 999;
  justify-content: space-around;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 650px) {
  .footer-fixed {
    display: flex;
  }
}

.catalog {
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  transition: 3s;
}

.catalog-2 {
  height: auto;
  transition: 3s;
}

.catalog-container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

.all-products {
  padding: 10px 0;
  background-color: #FCD5BA;
}
.all-products .all-products-number {
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}
.all-products .all-product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.all-products .all-product-cards > div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.all-products .all-product-cards > div > div {
  height: 100%;
}
@media (max-width: 1270px) {
  .all-products .all-product-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .all-products .all-product-cards {
    grid-template-columns: 1fr;
  }
}
.all-products .all-products-pagination {
  display: flex;
  justify-content: center;
}
.all-products .all-products-pagination button {
  border-color: red;
  padding: 10px;
}
.all-products .active {
  background-color: red;
  color: white;
}

.productas-total {
  padding: 4px 8px;
  margin-left: 2px;
  background-color: #F63;
  color: white;
  border-radius: 2px;
}

.favourite-total {
  padding: 4px 8px;
  margin-left: 2px;
  background-color: #F63;
  color: white;
  border-radius: 2px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(252, 213, 186, 0.8);
  z-index: -1;
  opacity: 0;
  transition: 1s;
}
.modal .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-container .modal-content {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  box-shadow: 8px 16px 32px 0px rgba(255, 102, 51, 0.2);
}
.modal .modal-container .modal-content .close {
  position: absolute;
  right: 0;
  top: 0;
}
.modal .modal-container .modal-content .close button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background: var(--grayscale-lightest, #F3F2F1);
}
.modal .modal-container .modal-content .vxod form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.modal .modal-container .modal-content .vxod form h3 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.modal .modal-container .modal-content .vxod form input {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  background: var(--main-surface, #FFF);
  box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
}
.modal .modal-container .modal-content .vxod form button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  background: var(--main-primary-muted, #FCD5BA);
}

.modal-opened {
  z-index: 10000;
  opacity: 1;
}